
.interStaves {
	font-size: 4rem;
	margin: 0;
	padding: 0;
	height: 1rem;
}

.startBarInterStaves {
	position: relative;
	top: -1.7rem;
}

.endBarInterStaves{
	position: relative;
	top: -1.7rem;
	font-weight: 100;
	font-size:4rem;
	left: 37.9rem;
}
