html {
  background: rgb(250, 251, 252);
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  height: 100%;

  #root {
    min-height: 100vh !important;
  }
}

a,
a:hover,
a:visited {
  text-decoration: none;
}
