.Box {
	height: 88vh;
}

.Content {
  margin: auto;
  width: 100%;
}

.Title {
  padding-top: 20px;
  text-align: center;
  color: #3f51b5;
}

.Description {
	padding: 25px;
	text-align: center;
}

.Boogie {
  width: 300px
}